.Product {
    margin-bottom: 6em;
}

.Product-name {
    margin-bottom: 0;
}

.Product-cart-controls {
    display: flex;
    flex-direction: row;
    margin: 1em 48% 0;
}

.Product-cart-controls div {
    flex: 1;
}
